html,body {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Fira Sans",sans-serif;
  font-size: 100%;
  line-height: 1.64;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: auto;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-decoration-skip: ink;
}

body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure {
  margin-bottom: 16px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

figure>img {
  display: block;
}

figcaption {
  margin-top: 0.5em;
  text-align: center;
  font-size: 1.1em;
}

ul,ol {
  margin-left: 32px;
}

li>ul,li>ol {
  margin-bottom: 0;
}

ul.no-list {
  margin-left: 0;
}

ul.no-list li {
  list-style: none;
}

a {
  color: #00004F;
  text-decoration: none;
}

a:hover {
  opacity: .8;
  text-decoration: underline;
}

blockquote {
  color: #828282;
  border-left: 4px solid #f8f8f8;
  padding-left: 16px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

blockquote>:last-child {
  margin-bottom: 0;
}

code {
  color: #c35;
  font-family: Consolas,monospace;
}

pre {
  background-color: #f8f8f8;
  border-left: 0.25rem solid #c35;
  margin-bottom: 0.6rem;
  margin-top: 0.2rem;
  overflow-x: auto;
  padding: 1rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  font-size: 0.9em;
  line-height: 1.4rem;
}

pre>code {
  color: #333;
  background: none;
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

strong,b {
  font-weight: 500;
}

iframe {
  border: none;
  max-width: 100%;
}

.lead {
  font-size: 1.3em;
}

.container {
  max-width: 864px;
  margin: 0 auto;
  padding: 0 32px;
  justify-content: start; //  space-between;
}

.container {
  max-width: 864px;
  margin: 0 auto;
  padding: 0 32px;
  justify-content: start; //  space-between;
}

.intro-par {
	text-align:justify;
}

.page-main {
  display: flex;
  flex-direction: column;
  flex-flow: initial;
}

.page-content {
  padding-bottom: 3em;
  flex: 1 1 auto;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 832px;
    margin: 0 auto;
    padding: 0 16px;
  }
}

.page-header {
  //border-top: 6px solid #572c9f;
  padding-top: 6px;
  margin-bottom: 40px;
}

nav {
  //display: flex;
  align-items: center;
  flex-flow: row wrap;
  line-height: 36px;
  justify-content: space-between;
}

nav>*:last-child {
  margin-left: auto;
}

nav a {
  color: #333;
  padding: 12px 0.3em 0 0.3em;
  margin: 0 0.3em;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  opacity: 0.75;
  border-bottom: 1px solid transparent;
  transition: opacity 0.25s ease-in-out, border 0.25s ease-in-out;
}

nav a:last-child {
  padding-right: 0;
}

nav a.active {
  border-bottom-color: #333;
  opacity: 1;
}

nav a:hover {
  text-decoration: none;
  opacity: 1;
  border-bottom-color: #333;
  transition: opacity 0.25s ease-in-out, border 0.25s ease-in-out;
}

nav .external {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav .site-title {
  font-weight: 500;
  margin-top: 8px;
  padding: 0;
  margin-left: 0;
  margin-right: 32px;
  flex: 0 0 auto;
  font-size: 1.5em;
  border: none;
  color: #333;
  opacity: 1;
}

nav .site-title:hover {
  opacity: 0.75;
}

@media screen and (max-width: 800px) {
  nav {
    line-height: 42px;
  }

  nav a {
    padding: 0 9px;
  }

  nav a:nth-child(2) {
    margin-left: -8px;
  }

  nav .site-title {
    flex: 0 1 100%;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .site-title {
    margin-top: 0.5em;
  }

  nav {
    justify-content: space-around;
  }

  nav>*:last-child {
    margin-left: initial;
  }

  nav .external {
    flex: 0 1 100%;
    justify-content: space-around;
  }

  nav .site-title {
    text-align: center;
  }

  nav>a .fas {
    display: none;
  }

  nav a {
    border-radius: 3px;
  }

  nav a:hover {
    border-color: transparent;
    background: #f0eaf9;
  }

  nav a.active {
    border-color: transparent;
    background: #e1d6f4;
    border-radius: 3px;
  }
}

footer {
  padding: 32px 0;
  font-size: .9em;
  background-color: #234;
  color: #e6e6e6;
}

footer a {
  color: #fff;
}

footer a:hover {
  opacity: 1;
}

footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: start; //  space-between;
}

footer .footer-col {
  padding: 16px 0;
}

footer .site-desc {
  width: 500px;
}

@media screen and (max-width: 800px) {
  footer .site-desc {
    flex: 1 100%;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  color: #1a1a1a;
  font-weight: 500;
}

h1 {
  font-weight: 400;
  font-size: 2.6em;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

h1.hidden {
  display: none;
}

h2 {
  font-size: 1.75em;
  border-bottom: 1px solid #b3b3b3;
  margin-top: 1.5em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1.1em;
}

.anchor {
  display: inline-block;
  margin-left: -1.5em;
  width: 1.5em;
  position: relative;
  bottom: 0.2em;
  outline: 0;
  font-size: 0.6em;
  opacity: 0;
}

@media screen and (max-width: 800px) {
  .anchor {
    display: none;
  }
}

h2:hover .anchor,h3:hover .anchor,h4:hover .anchor,h5:hover .anchor,h6:hover .anchor {
  opacity: 0.8;
  transition: opacity .08s ease-in;
}

.home h1 {
  margin-top: 0;
}

.home h2 {
  font-size: 1.5em;
  border-bottom: none;
}

.home .columns {
  display: flex;
  flex-direction: row;
}

.home .columns .intro {
  flex: 1;
  font-size: 1.1em;
}

.home .columns .me {
  margin-right: 32px;
  margin-bottom: 32px;
  font-size: 0.9em;
  text-align: center;
}

.home .columns .me picture,.home .columns .me img {
  width: 115px;
  height: 155px;
  border-radius: 6px;
}
.home .columns .me .ext picture,.home .columns .me .ext img {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.home .columns .me ul {
  margin-top: 16px;
}

.home .button {
  //color: #572c9f;
  padding: 6px 16px;
  border-radius: 3px;
  border: 1px solid #8a5ed3;
}

.home .button:hover {
  opacity: 1;
  text-decoration: none;
  background-color: #e1d6f4;
}

.home .featured-projects {
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
}

.home .featured-projects .project {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 16px;
  border: 1px solid #ddd;
  transition: box-shadow 0.2s ease;
}

.home .featured-projects .project:not(:last-child) {
  margin-right: 16px;
}

.home .featured-projects .project:hover {
  box-shadow: #aaa 2px 2px 11px;
}

.home .featured-projects .project .spacer {
  flex: 1;
}

.home .featured-projects .project .title {
  margin: 0 0 0.6em 0;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1;
}

.home .featured-projects .project p {
  font-size: 0.85em;
  margin: 0.7em 0;
  line-height: 1.2;
}

.home .featured-projects .project .preview-image {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 60%;
  border: 1px solid #f1f1f1;
  background-size: cover;
  background-position: top left;
  transition: background 1.5s;
}

.home .featured-projects .project .preview-image:hover {
  background-position: bottom right;
}

.home .featured-projects .project .links {
  font-size: 0.8em;
}

.home .featured-projects .project .links a {
  margin-right: 0.5em;
  white-space: nowrap;
}

.home .featured-publications {
  font-size: 0.95em;
  margin-bottom: 1.5em;
}

.home .featured-publications .publication {
  margin-bottom: 0.7em;
  display: block;
  color: #333;
}

.home .featured-publications .publication:hover {
  text-decoration: none;
}

.home .featured-publications .publication .fa-trophy {
  color: #ffc000;
}

.home .featured-publications .publication .fa-award {
  color: firebrick;
}

.home .featured-publications .publication .authors {
  font-weight: 300;
}

.home .news-travel {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
}

.home .news-travel>div {
  flex-grow: 1;
  flex-basis: 0;
}

.home .news ul {
  list-style: none;
  margin-left: 0;
}

.home .news ul li {
  margin-bottom: 1em;
}

.home .news ul time {
  display: block;
  color: #828282;
  font-size: 0.8em;
}

.home .travel {
  padding-left: 32px;
}

.home .travel .date {
  white-space: nowrap;
  color: #828282;
  padding-right: 1em;
}

@media screen and (max-width: 600px) {
  .home .columns {
    flex-direction: column;
    align-items: center;
  }

  .home .columns .intro {
    order: 2;
  }

  .home .columns .me {
    order: 1;
    margin-left: 0;
  }

  .home .button {
    font-size: 1.1em;
    background-color: #f6f2fb;
  }

  .home .featured-projects {
    flex-direction: column;
  }

  .home .featured-projects .project {
    display: block;
    margin-bottom: 16px;
  }

  .home .featured-projects .project:not(:last-child) {
    margin-right: 0;
  }

  .home .featured-projects .project .preview-image {
    width: 40%;
    padding-top: 22%;
    float: left;
    margin-right: 18px;
  }

  .home .news-travel {
    margin-top: 32px;
    flex-direction: column;
  }

  .home .news-travel .travel {
    padding-left: 0;
  }
}

#facets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#facets.hidden {
  display: none;
}

#facets .facet {
  min-width: 125px;
  flex-grow: 1;
  flex-basis: 0;
}

#facets .facet:not(:last-child) {
  margin-right: 12px;
}

#facets ul {
  min-width: 0;
  list-style: none;
  margin-left: 0;
}

#facets ul li {
  min-width: 0;
  white-space: nowrap;
  font-size: 0.85em;
  cursor: pointer;
  color: #5c5c5c;
}

#facets ul li.in-query {
  color: black;
  font-weight: 500;
}

#facets ul li>span {
  display: flex;
  align-items: center;
}

#facets ul li>span .limited {
  padding-right: 0.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#facets ul li>span .cnt {
  color: #a8a8a8;
}

#facets ul li .bar-full {
  border-bottom: 2px solid #ddd;
  width: 100px;
  max-width: 100%;
  margin-bottom: 3px;
}

#facets ul li .bar-full .bar {
 // border-bottom: 2px solid #572c9f;
  margin-bottom: -2px;
}

#only-highlight input {
  vertical-align: text-bottom;
}

#only-highlight.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  .bar-full {
    width: 80px !important;
  }
}

#clear-filters {
  color: #5c5c5c;
  font-weight: 500;
  cursor: pointer;
}

#clear-filters:hover {
  color: #333;
}

#clear-filters.hidden {
  opacity: 0;
}

#clear-filters i {
  color: firebrick;
}

#ft-search {
  width: 350px;
  font-size: 1.1em;
  padding: 0.4em;
}

.pubs .pub-year {
  font-size: 1.3em;
  margin: 0.7em 0 0.5em 0;
  border-bottom: none;
  color: #828282;
}

.pubs .publication,.pubs .year {
  opacity: 1;
  max-height: 600px;
  overflow: hidden;
  transition: all 0.6s ease;
}

.pubs .publication.hidden,.pubs .year.hidden {
  max-height: 0;
  margin: 0;
  opacity: 0;
}

.pubs .publication {
  margin-bottom: 2em;
}

.pubs .publication h3 {
  font-size: 1.2em;
  margin: 0em;
  font-weight: 500;
  max-height: 600px;
  overflow: hidden;
}

.pubs .publication h3.hidden {
  max-height: 0;
}

.pubs .publication .award-icon {
  margin-right: 0.2em;
  font-size: 1.2em;
}

.pubs .publication .award-icon.fa-trophy {
  color: #ffc000;
}

.pubs .publication .award-icon.fa-award {
  color: firebrick;
}

.pubs .publication .authors {
  margin-bottom: 0.3em;
  font-weight: 300;
}

.pubs .publication .authors a {
  color: #333;
}

.pubs .publication .venue,.pubs .publication .venue a {
  color: #828282;
}

.pubs .publication .awards {
  margin-top: 0.1em;
  font-weight: 500;
  color: firebrick;
}

.pubs .publication .tweet:hover {
  text-decoration: none;
}

.pubs .publication .tweet:hover .message {
  text-decoration: underline;
}

.pubs .publication .tweet .message {
  font-size: 0.9em;
  font-style: italic;
  color: #828282;
}

.pubs .publication p {
  margin-bottom: 0;
}

.pubs .publication .extra-links {
  margin-top: 0.5em;
  font-weight: 300;
  font-size: 0.9em;
}

.pubs .publication .extra-links a {
  margin-right: 1em;
  white-space: nowrap;
}

.pubs .publication .extra-links a:hover {
  text-decoration: none;
  border-bottom: 1px solid #3477ad;
}

.projects .lead {
  font-size: 1.2em;
}

.projects .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.projects .grid .project {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 16px;
  border: 1px solid #ddd;
  transition: box-shadow 0.2s ease;
}

.projects .grid .project:hover {
  box-shadow: #aaa 2px 2px 11px;
}

.projects .grid .project .spacer {
  flex: 1;
}

.projects .grid .project .title {
  margin: 0 0 0.6em 0;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1;
}

.projects .grid .project p {
  font-size: 0.85em;
  margin: 0.7em 0;
  line-height: 1.2;
}

.projects .grid .project .preview-image {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 60%;
  border: 1px solid #f1f1f1;
  background-size: cover;
  background-position: top left;
  transition: background 1.5s;
}

.projects .grid .project .preview-image:hover {
  opacity: 1;
  background-position: bottom right;
}

.projects .grid .project .links {
  font-size: 0.8em;
}

.projects .grid .project .links a {
  margin-right: 0.5em;
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  .projects .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .projects .grid {
    grid-template-columns: 1fr;
  }

  .projects .grid .project {
    display: block;
  }

  .projects .grid .project .preview-image {
    width: 40%;
    padding-top: 22%;
    float: left;
    margin-right: 18px;
  }
}

.talks h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

.talks h3:first-child {
  margin-top: 0;
}

.talks .talk {
  clear: both;
}

.talks .talk time {
  float: right;
  color: #828282;
  font-weight: 300;
}

.talks .talk .extra-links {
  font-weight: 300;
  font-size: 0.8em;
}

.talks .talk .extra-links a {
  margin-left: 1em;
}

.talks .talk .extra-links a:first-child {
  margin-left: 2em;
}

.post-list .year {
  font-size: 1.4em;
  font-weight: 400;
  position: relative;
  float: left;
  border: none;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .post-list .year {
    float: none;
  }
}

.post-list .post-block {
  margin-left: 90px;
  padding-left: 60px;
  margin-bottom: 32px;
  position: relative;
}

.post-list .post-block .post-meta {
  font-size: 0.8em;
  position: absolute;
  left: 0;
  top: 0.4em;
}

.post-list .post-block .post-meta .meta-year {
  visibility: hidden;
}

.post-list .post-block h3 {
  font-size: 1.3em;
  margin: 0;
  font-weight: 400;
}

.post-list .post-block h3 .anchor {
  display: none;
}

@media screen and (max-width: 600px) {
  .post-list .year {
    font-size: 1.75em;
    margin-top: 1.5em;
  }

  .post-list .post-block {
    margin: 0;
    padding: 0;
  }

  .post-list .post-block .post-meta {
    position: relative;
    left: 0;
  }

  .post-list .post-block .post-meta .meta-year {
    visibility: visible;
  }
}

.post-meta {
  font-size: .9em;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-header h1 {
  margin: 0;
}

.post-header .post-subtitle {
  font-size: 1.2em;
  margin: 0.6em 0;
}

.post-title {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .post-title {
    font-size: 2.2em;
  }
}

.post-sharing {
  margin-top: 64px;
}

.post-sharing .twitter {
  background-color: #1b95e0;
  border-radius: 3px;
  padding: 3px 6px;
  color: white;
  font-weight: 500;
  font-size: 0.9em;
}

.post-sharing .twitter:hover {
  text-decoration: none;
}

.blog-links {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog-links div {
  margin: 0.5em;
}

.blog-links div i {
  color: #828282;
}

.page-search {
  margin-bottom: 1em;
}

.page-search fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.page-search fieldset input[type=text] {
  font-size: .8em;
  width: 300px;
  padding: 0.6em;
  box-sizing: border-box;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
}

.page-search fieldset button {
  position: relative;
  right: 38px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px;
}

.half {
  max-width: 400px;
}

.third {
  max-width: 266.6666666667px;
}

.two-thirds {
  max-width: 533.3333333333px;
}

.right {
  float: right;
}

.right.half,.right.third,.right.two-thirds {
  margin-left: 32px;
}

.left {
  float: left;
}

.left.half,.left.third,.left.two-thirds {
  margin-right: 32px;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.clearfix {
  clear: both;
  display: block;
}

.flex-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: -32px;
}

.flex-rows figure {
  display: block;
  margin-right: 32px;
}

.flex-rows figure img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .flex-rows {
    flex-direction: column;
    margin-right: 0;
  }

  .flex-rows figure {
    margin-right: 0;
  }

  figure.left,figure.right {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}

.highlight .c {
  color: #999988;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .k {
  font-weight: bold;
}

.highlight .o {
  font-weight: bold;
}

.highlight .cm {
  color: #999988;
  font-style: italic;
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

.highlight .c1 {
  color: #999988;
  font-style: italic;
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gr {
  color: #aa0000;
}

.highlight .gh {
  color: #999999;
}

.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

.highlight .go {
  color: #888888;
}

.highlight .gp {
  color: #555555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #800080;
  font-weight: bold;
}

.highlight .gt {
  color: #aa0000;
}

.highlight .kc {
  font-weight: bold;
}

.highlight .kd {
  font-weight: bold;
}

.highlight .kn {
  font-weight: bold;
}

.highlight .kp {
  font-weight: bold;
}

.highlight .kr {
  font-weight: bold;
}

.highlight .kt {
  color: #445588;
  font-weight: bold;
}

.highlight .m {
  color: #009999;
}

.highlight .s {
  color: #dd1144;
}

.highlight .n {
  color: #333333;
}

.highlight .na {
  color: teal;
}

.highlight .nb {
  color: #0086b3;
}

.highlight .nc {
  color: #445588;
  font-weight: bold;
}

.highlight .no {
  color: teal;
}

.highlight .ni {
  color: purple;
}

.highlight .ne {
  color: #990000;
  font-weight: bold;
}

.highlight .nf {
  color: #990000;
  font-weight: bold;
}

.highlight .nn {
  color: #555555;
}

.highlight .nt {
  color: navy;
}

.highlight .nv {
  color: teal;
}

.highlight .ow {
  font-weight: bold;
}

.highlight .w {
  color: #bbbbbb;
}

.highlight .mf {
  color: #009999;
}

.highlight .mh {
  color: #009999;
}

.highlight .mi {
  color: #009999;
}

.highlight .mo {
  color: #009999;
}

.highlight .sb {
  color: #dd1144;
}

.highlight .sc {
  color: #dd1144;
}

.highlight .sd {
  color: #dd1144;
}

.highlight .s2 {
  color: #dd1144;
}

.highlight .se {
  color: #dd1144;
}

.highlight .sh {
  color: #dd1144;
}

.highlight .si {
  color: #dd1144;
}

.highlight .sx {
  color: #dd1144;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #dd1144;
}

.highlight .ss {
  color: #990073;
}

.highlight .bp {
  color: #999999;
}

.highlight .vc {
  color: teal;
}

.highlight .vg {
  color: teal;
}

.highlight .vi {
  color: teal;
}

.highlight .il {
  color: #009999;
}

.highlight .gc {
  color: #999;
  background-color: #EAF2F5;
}

@media (prefers-color-scheme: dark) {
  body:not(.cv) {
    background-color: #333;
    color: #fff;
  }

  body:not(.cv) a {
    color: #8ac1ee;
  }

  body:not(.cv) h1,body:not(.cv) h2,body:not(.cv) h3,body:not(.cv) h4,body:not(.cv) h5,body:not(.cv) nav a,body:not(.cv) nav a:hover,body:not(.cv) nav .site-title,body:not(.cv) .home .featured-publications .publication {
    color: #fff;
  }

  body:not(.cv) .pubs .publication .authors a,body:not(.cv) #facets ul li,body:not(.cv) .pubs .publication .authors a,body:not(.cv) .talks .talk time {
    color: #eee;
  }

  body:not(.cv) .home .travel .date,body:not(.cv) .home .news ul time,body:not(.cv) .pubs .publication .venue,body:not(.cv) .pubs .publication .venue a,body:not(.cv) .pubs .publication .tweet .message,body:not(.cv) .post-meta,body:not(.cv) .blog-links div i {
    color: #ddd;
  }

  body:not(.cv) nav a:hover {
    border-bottom-color: #eee;
  }

  body:not(.cv) .home .button {
    color: #a786de;
  }

  body:not(.cv) #facets ul li .bar-full .bar {
    border-bottom-color: #8a5ed3;
  }

  body:not(.cv) .page-header {
    border-top-color: #8a5ed3;
  }

  body:not(.cv) .pubs .publication .award-icon.fa-award,body:not(.cv) .pubs .publication .awards,body:not(.cv) .home .featured-publications .publication .fa-award {
    color: #e05a5a;
  }

  body:not(.cv) .projects .grid .project,body:not(.cv) .home .featured-projects .project {
    border-color: #bbb;
  }

  body:not(.cv) .projects .grid .project:hover,body:not(.cv) .home .featured-projects .project:hover {
    box-shadow: #000 2px 2px 11px;
  }

  body:not(.cv) .projects .grid .project .preview-image,body:not(.cv) .home .featured-projects .project .preview-image {
    border-color: #bbb;
  }

  body:not(.cv) footer {
    background-color: #2d4964;
  }
}
